{% extends 'base.html' %}

{% block modal %}

<div class="absolute flex items-center justify-center inset-0 bg-stone-400/80 z-10">
    <div class="bg-stone-50 rounded-md shadow-lg max-w-xs w-full">
        <div class="flex justify-between px-4 py-4 items-center">
            <h3 class="text-xl">Dateien hochladen</h3>
            <button
                class="flex items-center hover:bg-stone-700 hover:text-stone-50 active:shadow-sm hover:shadow-lg rounded-full p-1 transition-all">
                <svg xmlns=" http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </button>
        </div>

        <hr>

        <div class="mt-10 px-4 text-center">
            <p>Auf den grünen Button klicken und Dateien zum hochladen auswählen</p>
        </div>

        <div class="flex justify-center my-10 px-4">
            <form action="/" method="POST">
                <div class="flex flex-col">
                    <label for="files" class="flex flex-col items-center">
                        <input type="file" name="files" id="files" multiple class="hidden">
                        <div
                            class="bg-emerald-500 text-emerald-50 shadow-lg hover:shadow-xl cursor-pointer hover:bg-emerald-600 transition-all rounded-full p-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                                <polyline points="7 9 12 4 17 9"></polyline>
                                <line x1="12" y1="4" x2="12" y2="16"></line>
                            </svg>
                        </div>
                    </label>
                    <span id="result" class="mt-10" hidden></span>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock modal %}


{% block content %}

<section>
    <h2 class="text-2xl text-center">Galerie</h2>
</section>

{% endblock content %}

{% block scripts %}
<script>
    const inputEl = document.querySelector('#files')
    const resultEl = document.querySelector('#result')

    inputEl.addEventListener('change', (e) => {
        if (inputEl.files) {
            const files = inputEl.files
            resultEl.hidden = false
            resultEl.textContent = `${files.length} Datei${files.length > 1 ? 'en' : ''} ausgewählt!`
        }
    })
</script>
{% endblock scripts %}